{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<div class="row">
	<main>
		<section>
			<h1>{{name}}</h1>
			<div class="col-12 my-4">
				Born: {{birthdate}} - {{birthplace}}
			</div>
			<div class="col-12 my-4">
				Died: {{deathdate}}
			</div>
			<div class="col-12 my-4">
				Nationality: {{nationality}}
			</div>
			<div class="col-12 my-4">
				Occupation: {{occupation}}
			</div>
			<hr>
			<div class="col-12 my-4">
				<strong>Known for:</strong>
				<ul>
					{{#each known_for}}
					<li class="my-4">{{this}}</li>
					{{/each}}
				</ul>
			</div>
			<hr>
			<div class="col-12 my-4">
				{{> title data="Education" big=false}}
				<ul>
					{{#each education}}
					<li>
						<div class="col-12 my-4">{{institution}} ({{year}})</div>
						<div class="col-12 my-4">{{degree}} / {{field}}</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<hr>
			<div class="col-12 my-4">
				<h4>Notable publications</h4>
				<ul>
					{{#each notable_publications}}
					<li>
						<div class="col-12 my-4">{{title}} ({{year}}) - {{publisher}}</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<hr>
			<div class="col-12 my-4">
				<b>Partners</b>
				<ul>
					{{#each partners}}
					<li>
						<div class="col-12 my-4">{{name}} ({{years}}) - {{relationship}}</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<hr>
			<div class="col-12 my-4">
				<h4>Awards</h4>
				<ul>
					{{#each awards}}
					<li>
						<div class="col-12 my-4">{{title}} ({{year}}) - {{description}}</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<hr>
			<div class="col-12 my-4">
				<b>Influences</b>
				<ul>
					{{#each influences}}
					<li>
						<div class="col-12 my-4">{{this}}</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<hr>
			<div class="col-12 my-4">
				<b>Influenced</b>
				<ul>
					{{#each influenced}}
					<li>
						<div class="col-12 my-4">{{this}}</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<hr>
			<div class="col-12 my-4">
				<b>Quotes</b>
				<ul>
					{{#each quotes}}
					<li>
						<div class="col-12 my-4">{{this}}</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<hr>
			<div class="col-12 my-4">
				<b>Major discoveries</b>
				<ul>
					{{#each major_discoveries}}
					<li>
						<div class="col-12 my-4">{{title}} ({{year}}) - {{description}}</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<hr>
			<div class="col-12 my-4"><b>Contributions</b></div>
			{{#with contributions}}
			<div class="col-12 my-4">
				<div>{{title}} ({{year}}):</div>
				<div>{{description}} ({{field}})</div>
			</div>
			{{/with}}
		</section>
	</main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	--}}