{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='row'>
  <main>
    <section>
      <h1>{{name}}</h1>
      <div class='col-12 my-4'>
        <ul>
          {{#each users}}
            <li class='my-4'>
              #{{id}}
              {{name}}
              ({{age}},
              {{gender}})
            </li>
            <h4 class='my-4'>Friends:</h4>
            <ul>
              {{#each friends}}
                <li class='my-4'>
                  #{{id}}
                  {{name}}
                  ({{age}},
                  {{gender}})
                </li>
                {{#if mutual_friends}}
                  <ul>
                    {{#each mutual_friends}}
                      <li class='my-4'>
                        #{{id}}
                        {{name}}
                        ({{age}},
                        {{gender}})
                      </li>
                      {{#if mutual_friends}}
                        <ul>
                          {{#each mutual_friends}}
                            <li class='my-4'>
                              #{{id}}
                              {{name}}
                              ({{age}},
                              {{gender}})
                            </li>
                          {{/each}}
                        </ul>
                      {{/if}}
                    {{/each}}
                  </ul>
                {{/if}}
                {{#if groups}}
                  <h4 class='my-4'>Groups:</h4>
                  <ul>
                    {{#each groups}}
                      <li class='my-4'>
                        <div>#{{id}}
                          {{name}}</div>
                        <div>{{description}}</div>
                      </li>
                      {{#if members}}
                        <ul>
                          {{#each members}}
                            <li class='my-4'>
                              #{{id}}
                              {{name}}
                              ({{age}},
                              {{gender}})
                            </li>
                          {{/each}}
                        </ul>
                      {{/if}}
                    {{/each}}
                  </ul>
                {{/if}}
              {{/each}}
            </ul>
            {{#if groups}}
              <h4 class='my-4'>Groups:</h4>
              <ul>
                {{#each groups}}
                  <li class='my-4'>
                    <div>#{{id}}
                      {{name}}</div>
                    <div>{{description}}</div>
                  </li>
                  {{#if members}}
                    <ul>
                      {{#each members}}
                        <li class='my-4'>
                          #{{id}}
                          {{name}}
                          ({{age}},
                          {{gender}})
                        </li>
                      {{/each}}
                    </ul>
                  {{/if}}
                {{/each}}
              </ul>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </section>
  </main>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}