{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<div class='row'>
  <main>
    <section>
      <h1>
        {{name}}
        {{#with history}}({{year}}) - {{founder}}{{/with}}
      </h1>
      <div class='col-12 my-4'>
        <p>{{description}}</p>
      </div>
      <div class='col-12 my-4'>
        <h2>Types:</h2>
        <ul>
          {{#each types}}
            <li class='my-4'>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class='col-12 my-4'>
        <h2>Syntax:</h2>
        <ul>
          {{#with syntax}}
            <li class='my-4'>
              <span
                class='badge text-bg-dark'
              >variables:</span>
              {{#each variables}}
                <span
                  class='badge text-bg-light'
                >{{this}}</span>
              {{/each}}
            </li>
            <li class='my-4'>
              <span
                class='badge text-bg-dark'
              >functions:</span>
              {{#each functions}}
                <span
                  class='badge text-bg-light'
                >{{this}}</span>
              {{/each}}
            </li>
            <li class='my-4'>
              <span
                class='badge text-bg-dark'
              >conditionals:</span>
              {{#each conditionals}}
                <span
                  class='badge text-bg-light'
                >{{this}}</span>
              {{/each}}
            </li>
            <li class='my-4'>
              <span class='badge text-bg-dark'>loops:</span>
              {{#each loops}}
                <span
                  class='badge text-bg-light'
                >{{this}}</span>
              {{/each}}
            </li>
            <li class='my-4'>
              <span
                class='badge text-bg-dark'
              >classes:</span>
              {{#each classes}}
                <span
                  class='badge text-bg-light'
                >{{this}}</span>
              {{/each}}
            </li>
          {{/with}}
        </ul>
      </div>
      <div class='col-12 my-4'>
        <h2>Features:</h2>
        <ul>
          {{#each features}}
            <li class='my-4'>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class='col-12 my-4'>
        <h2>Libraries:</h2>
        <ul>
          {{#each libraries}}
            <li class='my-4'>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class='col-12 my-4'>
        <h2>Tools:</h2>
        <ul>
          {{#each tools}}
            <li class='my-4'>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class='col-12 my-4'>
        <h2>Community:</h2>
        {{#each community}}
          <a class='me-2' href='#'><span
              class='badge text-bg-info'
            >{{name}} - {{type}}</span></a>
        {{/each}}
      </div>
    </section>
  </main>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}