{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
	{{#with person}}
	<main>
		<section>
			{{> title data=name big=true}}
			<div>
				Age: {{age}}
			</div>
			<br>
			<div>
				Gender: {{gender}}
			</div>
			<br>
			<div>
				{{#with address}}
				<address>
					{{street}} <br>
					{{city}}, {{state}}{{zip}} <br>
					{{country}}
				</address>
				{{/with}}
			</div>
			<hr>
			<div>
				{{> title data="Education" big=false}}
				<ul>
					{{#each education}}
					<li>
						<div>{{university}} ({{graduationYear}})</div>
						<br>
						<div>{{degree}} / {{major}}</div>
						<br>
					</li>
					{{/each}}
				</ul>
			</div>
			<hr>
			<div>
				{{> title data="Experience" big=false}}
				<ul>
					{{#each workExperience}}
					<li>
						<div>{{title}} ({{company}}) / {{startDate}} -
							{{#if endDate}} {{endDate}} {{else}} (still working) {{/if}}/</div>
						<br>
						<div>
							<strong>Responsibilities</strong>
						</div>
						<br>
						<ul>
							{{#each responsibilities}}
							<li>{{this}}</li>
							<br>
							{{/each}}
						</ul>
					</li>
					<div>Company: <b>{{company}}</b> ({{year_founded}}) - {{industry}}</div>
					<br>
					<div>
						<div><em>Employees:</em></div>
						<br>
						<ol>
							{{#each employees}}
							<li>
								<div>{{name}} ({{position}} / {{department}})</div>
								<br>
								<div><b>Projects:</b></div>
								<br>
								<ul>
									{{#each projects}}
									<li>
										<div>{{name}} ({{status}}) - {{description}}</div>
										<br>
										<div><b>Teams:</b></div>
										<br>
										<ul>
											{{#each teams}}
											<li>
												<div>{{team_name}}</div>
												<br>
												{{#with team_leader}}
												<div><a href="mailto:{{email}}">{{name}}</a> - {{title}}</div>
												{{/with}}
												<br>
												<div><b>Teams members:</b></div>
												<br>
												<ul>
													{{#each team_members}}
													<li>
														<div><a href="mailto:{{email}}">{{name}}</a> - {{title}}</div>
														<br>
														<div><b>Skills:</b></div>
														<br>
														<ul>
															{{#each skills}}
															<li>{{this}}</li>
															<br>
															{{/each}}
														</ul>
														<div><b>Projects:</b></div>
														<br>
														<div>
															<ul>
																{{#each projects}}
																<li>{{name}} - {{description}}</li>
																<br>
																<div><b>Technologies:</b></div>
																<br>
																<ul>
																	{{#each technologies}}
																	<li>{{this}}</li>
																	<br>
																	{{/each}}
																</ul>
																<div><b>Team members:</b></div>
																<br>
																<ol>
																	{{#each team_members}}
																	<li>{{name}} - {{title}}</li>
																	<br>
																	{{/each}}
																	</o>
																	{{/each}}
															</ul>
														</div>
													</li>
													{{/each}}
												</ul>
											</li>
											{{/each}}
										</ul>
									</li>
									{{/each}}
								</ul>
							</li>
							{{/each}}
						</ol>
					</div>
					{{/each}}
				</ul>
			</div>
		</section>
	</main>
	{{/with}}

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}