{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="row">
	{{#with person}}
	<main>
		<section>
			{{> title data=name big=true}}
			<div class="col-12 my-4">
				Age: {{age}}
			</div>
			<div class="col-12 my-4">
				Gender: {{gender}}
			</div>
			<div>
				{{#with address}}
				<address>
					<div>{{street}}</div>
					<div>{{city}}, {{state}}{{zip}}</div>
					<div>{{country}}</div>
				</address>
				{{/with}}
			</div>
			<hr>
			<div class="col-12 my-4">
				{{> title data="Education" big=false}}
				<ul>
					{{#each education}}
					<li>
						<div class="col-12 my-4">{{university}} ({{graduationYear}})</div>
						<div class="col-12 my-4">{{degree}} / {{major}}</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<hr>
			<div class="col-12 my-4">
				{{> title data="Experience" big=false}}
				<ul>
					{{#each workExperience}}
					<li>
						<div  class="col-12 my-4">{{title}} ({{company}}) / {{startDate}} -
							{{#if endDate}} {{endDate}} {{else}} (still working) {{/if}}/</div>
						<div class="col-12 my-4">
							<strong>Responsibilities</strong>
						</div>
						<ul>
							{{#each responsibilities}}
							<li class="my-4">{{this}}</li>
							{{/each}}
						</ul>
					</li>
					<div class="col-12 my-4">Company: <b>{{company}}</b> ({{year_founded}}) - {{industry}}</div>
					<div class="col-12 my-4">
						<div class="col-12 my-4"><em>Employees:</em></div>
						<ol>
							{{#each employees}}
							<li>
								<div class="col-12 my-4">{{name}} ({{position}} / {{department}})</div>
								<div class="col-12 my-4"><b>Projects:</b></div>
								<ul>
									{{#each projects}}
									<li>
										<div class="col-12 my-4">{{name}} ({{status}}) - {{description}}</div>
										<div class="col-12 my-4"><b>Teams:</b></div>
										<ul>
											{{#each teams}}
											<li>
												<div class="col-12 my-4">{{team_name}}</div>
												{{#with team_leader}}
												<div class="col-12 my-4"><a href="mailto:{{email}}">{{name}}</a> - {{title}}</div>
												{{/with}}
												<div class="col-12 my-4"><b>Teams members:</b></div>
												<ul>
													{{#each team_members}}
													<li>
														<div class="col-12 my-4"><a href="mailto:{{email}}">{{name}}</a> - {{title}}</div>
														<div class="col-12 my-4"><b>Skills:</b></div>
														<ul>
															{{#each skills}}
															<li class="my-4">{{this}}</li>
															{{/each}}
														</ul>
														<div class="col-12 my-4"><b>Projects:</b></div>
														<div>
															<ul>
																{{#each projects}}
																<li class="my-4">{{name}} - {{description}}</li>
																<div class="col-12 my-4"><b>Technologies:</b></div>
																<ul>
																	{{#each technologies}}
																	<li class="my-4">{{this}}</li>
																	{{/each}}
																</ul>
																<div class="col-12 my-4"><b>Team members:</b></div>
																<ol>
																	{{#each team_members}}
																	<li class="my-4">{{name}} - {{title}}</li>
																	{{/each}}
																	</o>
																	{{/each}}
															</ul>
														</div>
													</li>
													{{/each}}
												</ul>
											</li>
											{{/each}}
										</ul>
									</li>
									{{/each}}
								</ul>
							</li>
							{{/each}}
						</ol>
					</div>
					{{/each}}
				</ul>
			</div>
		</section>
	</main>
	{{/with}}

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}