<main>
  <div class='row my-4'>
    <div class='col-12'>
      <nav aria-label='breadcrumb'>
        <ol class='breadcrumb'>
          {{#each breadcrumb}}
            {{#if url}}
              <li class='breadcrumb-item'><a
                  href='{{url}}'
                >{{name}}</a></li>
            {{else}}
              <li
                class='breadcrumb-item active'
                aria-current='page'
              >{{name}}</li>
            {{/if}}
          {{/each}}
        </ol>
      </nav>
    </div>
  </div>
  {{#with productData}}
    <div class='row'>
      <div class='col-6'>
        <div class='col-12 mb-4'><img
            class='img-fluid'
            src='{{img}}'
            alt='{{info.title}}'
          /></div>
        <div class='col-12'>
          {{#with info}}
            <div class='card'>
              <div class='card-body'>
                <h5 class='card-title'>{{title}}</h5>
                <p class='card-text'>{{about}}</p>
                <h2>{{price}}</h2>
                {{#each category}}
                  {{#if isHot}}
                    <span
                      class='badge rounded-pill text-bg-warning text-white'
                    >{{name}}</span>
                  {{/if}}
                  {{#if isNew}}
                    <span
                      class='badge rounded-pill text-bg-primary'
                    >{{name}}</span>
                  {{/if}}
                  {{#if isBonus}}
                    <span
                      class='badge rounded-pill text-bg-info text-white'
                    >{{name}}</span>
                  {{/if}}
                {{/each}}
              </div>
            </div>
          {{/with}}
        </div>
      </div>
      <div class='col-1'></div>
      <div class='col-5'>
        <div class='col-12 table-responsive'>
          {{#with item}}
            <table class='table'>
              <thead>
                <tr>
                  {{#each head}}
                    <th scope='col'>{{this}}</th>
                  {{/each}}
                </tr>
              </thead>
              <tbody>
                {{#each body}}
                  <tr>
                    {{#each this}}
                      {{#if @first}}
                        <th scope='row'>{{this}}</th>
                      {{else}}
                        <td>{{this}}</td>
                      {{/if}}
                    {{/each}}
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{/with}}
        </div>
        <div class='col-12 mb-4'>
          {{#with param}}
            <ul class='list-group'>
              <li
                class='list-group-item list-group-item-secondary'
              >{{title}}</li>
              {{#each list}}
                <li class='list-group-item'>{{this}}</li>
              {{/each}}
            </ul>
          {{/with}}
        </div>
        {{#with alert}}
          <div class='col-12'>
            <div class='alert alert-danger' role='alert'>
              {{text}}
            </div>
          </div>
        {{/with}}
      </div>
    </div>
    <div class='row mb-5 pb-5'>
      <div class='col-12'>
        <div class='card'>
          <div class='card-body'>
            {{#each actionList}}
              {{#if isWarning}}
                <button
                  type='button'
                  class='btn btn-warning text-white me-2'
                >{{name}}</button>
              {{/if}}
              {{#if isError}}
                <button
                  type='button'
                  class='btn btn-outline-danger me-2'
                >{{name}}</button>
              {{/if}}
              {{#if isSuccess}}
                <button
                  type='button'
                  class='btn btn-success me-2'
                >{{name}}</button>
              {{/if}}
              {{#if isGood}}
                <button
                  type='button'
                  class='btn btn-outline-success'
                >{{name}}</button>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/with}}
  <hr />
  {{#with goodsOtherBlock}}
    <div class='row'>
      <div class='col-12 mt-4 mb-3 text-center'>
        <h2>{{title}}</h2>
      </div>
      {{#each cards}}
        {{> shopcard image=image title=title description=description isHot=isHot idNew=idNew}}
      {{/each}}
    </div>
  {{/with}}
  {{> shopaction}}
</main>