{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div>
  <main>
    <section>
      <div class='card'>
        {{#with heading}}
          <div class='card-body'>
            <div class='card'>
              {{#with main}}
                <div class='card-body'>
                  <h1>{{title}}</h1>
                  <p>{{text}}</p>
                  {{#with button_text}}
                    <div>
                      <button
                        type='button'
                        class='btn btn-primary'
                      >{{solid}}</button>
                    </div>
                    <br />
                    <div>
                      <button
                        type='button'
                        class='btn btn-outline-primary'
                      >{{outline}}</button>
                    </div>
                  {{/with}}
                </div>
              {{/with}}
            </div>
          </div>
          <div class='card-body'>
            <div class='card'>
              {{#with second}}
                <div class='card-body'>
                  <h2>{{title}}</h2>
                  <p>{{text}}</p>
                  {{#with button_text}}
                    <div>
                      <button
                        type='button'
                        class='btn btn-secondary'
                      >{{solid}}</button>
                    </div>
                    <br />
                    <div>
                      <button
                        type='button'
                        class='btn btn-outline-secondary'
                      >{{outline}}</button>
                    </div>
                  {{/with}}
                </div>
              {{/with}}
            </div>
          </div>
          <div class='card-body'>
            <div class='card'>
              {{#with subblock}}
                <div class='card-body'>
                  <h3>{{title}}</h3>
                  <p>{{text}}</p>
                  {{#with button_text}}
                    <div>
                      <button
                        type='button'
                        class='btn btn-dark'
                      >{{solid}}</button>
                    </div>
                    <br />
                    <div>
                      <button
                        type='button'
                        class='btn btn-outline-dark'
                      >{{outline}}</button>
                    </div>
                  {{/with}}
                </div>
              {{/with}}
            </div>
          </div>
        {{/with}}
      </div>
      <br />
      <div class='card'>
        {{#with nested_display}}
          <div class='card-body'>
            <h1 class='display-1'>{{title}}</h1>
            <div class='card'>
              {{#with children_display}}
                <div class='card-body'>
                  <h4 class='display-4'>{{title}}</h4>
                  <p>{{text}}</p>
                  {{#with button}}
                    <div>
                      <button
                        type='button'
                        class='btn btn-outline-warning'
                      >{{text}}</button>
                    </div>
                  {{/with}}
                </div>
              {{/with}}
            </div>
            <br />
            <h6>{{header_text}}</h6>
            <br />
            <div><button
                type='button'
                class='btn btn-info'
              >{{button.text}}</button></div>
          </div>
        {{/with}}
      </div>
      <br />
      <div class='card'>
        {{#with paragraph}}
          <div class='card-body'>
            <p class='text-uppercase'>{{title}}</p>
            <p>{{text}}</p>
            {{#with button}}
              <div>
                <a
                  href='{{url}}'
                  target='_blank'
                  class='btn text-primary'
                >{{text}}</a>
              </div>
            {{/with}}
            <br />
            <div class='card'>
              <div class='card-body'>
                <div>
                  <ul>
                    {{#each list_name}}
                      <li>
                        <a
                          class='btn btn-outline-light text-primary'
                          href='{{url}}'
                          target='_blank'
                        >
                          {{text}}
                        </a>
                      </li>
                      <br />
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {{/with}}
      </div>
    </section>
  </main>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}